@import url(http://fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900);
@import url(http://fonts.googleapis.com/css?family=Clicker+Script);

<<<<<<< HEAD
/*////////// GLOBAL //////////*/

h3 {
  margin: 0 0 10px;
}

p { 
  font-size: 1em; /* 16px, ?pt, 100%, 1em */
  line-height: 1.5em;
}

figure {
  margin: 0 0 10px;
}

figcaption {
  font: normal 0.75em/1.5em 'Elsie Swash Caps', cursive;
  color: #777;
  text-align: right;
}

=======
/*selector {
	property: value;
	property: value;
}

*/

/* Type selector  */

p {/* select all <p>  */
font-size: 1em; /* 16px, 7pt, 100X, 1em */
line-height: 1.5em;
}



figcaption {
	/*font-weight: normal;
	font-size:  0.75em;
	line-height:  1.5em;
	font-family:  Georgia, "New Times Roman", serif; OR
  font: normal 0.75em/1em 'Elsie Swash Caps', cursive*/

    font-weight: normal;
    font-size: 0.75em/1em;
    line-height: 1.5em;
    font-family: 'Elsie Swash Caps', cursive;
    color: #777;
    text-align: right;
}

/* Class Selector  (applied to as many elements as you like) */

>>>>>>> 16e857e4820f7c31e22c99640e7cbef015b4a9dc
.milk-text {
  font: bold 2.6em 'Elsie Swash Caps', cursive;
  color: white;
  text-shadow: 0 2px 3px #000;
<<<<<<< HEAD
}



/*////////// BACKGROUNDS //////////*/



/*/////// MEDIA ////////*/

img, video, audio, iframe, table, form {
  width: 100%; /* IE */
  max-width: 100%; /* FF, Safari, Chrome */
}

/*////////// FIXES //////////*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear:both;
}

/*/////// LAYOUT ////////*/

.wrapper {
  width: 960px;
  margin: 0 auto;
}

.col-1 {
  float: left;
  width: 32%;
=======

}


/*ID Selector (applty to one unique element per page*/

#logo {
  
}

/* Descendent Selector */

#logo h1 {
font-family: 'Clicker Script' cursive;
}

#logo h2{	
font-family: 'Elsie Swash Caps' cursive;
}

/* Psuedo Selectors */

#details a:link, #details a:visited {
color: black;
text-decoration: none;
}


#details a:hover{	
color: black;
text-decoration: underline;

}


#details a:active {	
color: red;
}

/*////MEDIA///////*/

img, video, audio{
  max-width: 100%;
}
/*////LAYOUT////*/

* {
  -webkitbox-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.wrapper {
  width:  960px;
  margin:  0 auto;
  
}

.col-1 {
  float:  left;
  width:  32%;
>>>>>>> 16e857e4820f7c31e22c99640e7cbef015b4a9dc
  background: #ccc;
}

.col-2 {
  float: left;
  width: 66%;
  background: #ccc;
}
<<<<<<< HEAD

=======
>>>>>>> 16e857e4820f7c31e22c99640e7cbef015b4a9dc
.col-3 {
  background: #ccc;
}

<<<<<<< HEAD
=======
.clearfix:after {
  content:  ".";
  display:  block;
  clear: both;
  visibility: hidden;
  line-height: 0;

  } 

>>>>>>> 16e857e4820f7c31e22c99640e7cbef015b4a9dc
[class*="col-"] {
  margin-left: 2%;
}

.first {
<<<<<<< HEAD
  margin-left: 0%;
}

/*/////// SOCIAL ////////*/

#social {
  position: fixed;
  top: 185px;
=======
    margin-left: 0%;
    clear: left;
}

/*////SECTIONS /////*/

section {
padding: 20px;
  margin-bottom: 20px;

}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 1;
  
}

/*///// SOCIAL////*/

#social{
  position: fixed;
  top: 200px;
>>>>>>> 16e857e4820f7c31e22c99640e7cbef015b4a9dc
  right: 20px;
  width: 40px;
  z-index: 1;
}

#social a {
  display: block;
  width: 40px;
  height: 40px;
  background: yellow;
}

<<<<<<< HEAD
/*////////// HEADER //////////*/



/*////////// NAVBAR //////////*/



/*////////// LOGO //////////*/



#logo h1 {
  font-family: 'Clicker Script', cursive;
}

#logo h2 {
  font-family: 'Elsie Swash Caps', cursive;
}

/*////////// MAIN SECTIONS //////////*/

section {
  padding: 30px;
  margin-bottom: 20px;

}

/*////////// DETAILS //////////*/



#details div {
  height: 221px;
}

#details a:link, #details a:visited {
  color: black;
  text-decoration: none;
}

#details a:hover {
  color: black;
  text-decoration: underline;
}

#details a:active {
  color: red;
}

/*////////// FOOTER //////////*/

=======
>>>>>>> 16e857e4820f7c31e22c99640e7cbef015b4a9dc

